* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  display: flex;
  width: 70px;
}

.gallery-img {
  width: 200px;
  height: 200px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: aliceblue;
  background-color: #3b3b3b;
}

.section-1 {
  display: flex;
  justify-content: center;
  font-size: 150%;
}

.section-2 {
  display: flex;
  justify-content:center;
  align-content: space-around;
  flex-wrap:wrap;
  margin: auto;
  width: 650px;
  height:470px;
}

.rede-social {
  display: flex;
  border: 1px solid red;
}

.divs {
  display:flex;
  flex-direction: column;
  align-items:center;
  background-color: #e7e4e4;
  border-radius: 10%;
  box-shadow: 3px 3px 3px rgb(86, 94, 94);
  margin: auto;
}

hr {
  width:200px
}