* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  display: flex;
  width: 70px;
  border: 1px solid red;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: aliceblue;
  background-color: #3b3b3b;
  border: 1px solid red;
}

.section-1 {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  font-size: 150%;
}
